<table id="tapis">
  <tr>
    <td id="1" #elem1 (click)="ctrlCarte(elem1.id)"><img [src]="fondCarte"/></td>
    <td id="2" #elem2 (click)="ctrlCarte(elem2.id)"><img [src]="fondCarte"/></td>
    <td id="3" #elem3 (click)="ctrlCarte(elem3.id)"><img [src]="fondCarte"/></td>
    <td id="4" #elem4 (click)="ctrlCarte(elem4.id)"><img [src]="fondCarte"/></td>
    <td id="5" #elem5 (click)="ctrlCarte(elem5.id)"><img [src]="fondCarte"/></td>
  </tr>
  <tr>
    <td id="6" #elem6 (click)="ctrlCarte(elem6.id)"><img [src]="fondCarte"/></td>
    <td id="7" #elem7 (click)="ctrlCarte(elem7.id)"><img [src]="fondCarte"/></td>
    <td id="8" #elem8 (click)="ctrlCarte(elem8.id)"><img [src]="fondCarte"/></td>
    <td id="9" #elem9 (click)="ctrlCarte(elem9.id)"><img [src]="fondCarte"/></td>
    <td id="10" #elem10 (click)="ctrlCarte(elem10.id)"><img [src]="fondCarte"/></td>
  </tr>
  <tr>
    <td id="11" #elem11 (click)="ctrlCarte(elem11.id)"><img [src]="fondCarte"/></td>
    <td id="12" #elem12 (click)="ctrlCarte(elem12.id)"><img [src]="fondCarte"/></td>
    <td id="13" #elem13 (click)="ctrlCarte(elem13.id)"><img [src]="fondCarte"/></td>
    <td id="14" #elem14 (click)="ctrlCarte(elem14.id)"><img [src]="fondCarte"/></td>
    <td id="15" #elem15 (click)="ctrlCarte(elem15.id)"><img [src]="fondCarte"/></td>
  </tr>
  <tr>
    <td id="16" #elem16 (click)="ctrlCarte(elem16.id)"><img [src]="fondCarte"/></td>
    <td id="17" #elem17 (click)="ctrlCarte(elem17.id)"><img [src]="fondCarte"/></td>
    <td id="18" #elem18 (click)="ctrlCarte(elem18.id)"><img [src]="fondCarte"/></td>
    <td id="19" #elem19 (click)="ctrlCarte(elem19.id)"><img [src]="fondCarte"/></td>
    <td id="20" #elem20 (click)="ctrlCarte(elem20.id)"><img [src]="fondCarte"/></td>
  </tr>
</table>
